# Python cache files
**/__pycache__

# Jupyter Notebook cache files
**/.ipynb_checkpoints

# PyCharm project files
/.idea

# Experiment MMC
/MMC/dataset

# Miscellaneous local files which should not be stored on the remote
/.misc
